<h1> Sign-UP</h1>

<% if @user.errors.any? %>
<h2> Please correct the errors </h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li> <%= msg %></li>
  </ul>
  <% end  %>
<% end %>

  <%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
</br>
  <%= f.label :username %>
  <%= f.text_field :username %>
</br>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>
